  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Tratamientos médicos</h5>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Huésped </label>
                <input type="text" class="form-control" placeholder="nombre" value="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Médicina </label>
                <input type="text" class="form-control" placeholder="nombre" value="">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Dosis </label>
                <input type="text" class="form-control" placeholder="nombre" value="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Periodo </label>
                <input type="text" class="form-control" placeholder="nombre" value="">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round">Agregar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Medicinas</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th class="text-center">
                Nombre
              </th>
              <th class="text-center">
                Tipo
              </th>
              <th class="text-center">
                Acción
              </th>
            </thead>
            <tbody>
              <tr>
                <td  class="text-center">
                  Paracetamol
                </td>
                <td class="text-center">
                  Jarabe
                </td>
                <td class="text-center">
                  <button type="submit" class="btn btn-success btn-link nc-icon nc-simple-add"></button>
                </td>
              </tr>
              <tr>
                <td  class="text-center">
                  Paracetamol
                </td>
                <td class="text-center">
                  Jarabe
                </td>
                <td class="text-center">
                  <button type="submit" class="btn btn-success btn-link nc-icon nc-simple-add"></button>
                </td>
              </tr>
              <tr>
                <td  class="text-center">
                  Paracetamol
                </td>
                <td class="text-center">
                  Jarabe
                </td>
                <td class="text-center">
                  <button type="submit" class="btn btn-success btn-link nc-icon nc-simple-add"></button>
                </td>
              </tr>
              <tr>
                <td  class="text-center">
                  Paracetamol
                </td>
                <td class="text-center">
                  Jarabe
                </td>
                <td class="text-center">
                  <button type="submit" class="btn btn-success btn-link nc-icon nc-simple-add"></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Huéspedes</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th class="text-center">
                Nombres
              </th>
              <th class="text-center">
                Apellidos
              </th>
              <th class="text-center">
                DUI
              </th>
              <th class="text-center">
                Acción
              </th>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">
                  Dakota
                </td>
                <td class="text-center">
                  Rice
                </td>
                <td class="text-center">
                  05048697-4
                </td>
                <td class="text-center">
                  <button type="submit" class="btn btn-success btn-link nc-icon nc-simple-add"></button>
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  Dakota
                </td>
                <td class="text-center">
                  Rice
                </td>
                <td class="text-center">
                  05048697-4
                </td>
                <td class="text-center">
                  <button type="submit" class="btn btn-success btn-link nc-icon nc-simple-add"></button>
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  Dakota
                </td>
                <td class="text-center">
                  Rice
                </td>
                <td class="text-center">
                  05048697-4
                </td>
                <td class="text-center">
                  <button type="submit" class="btn btn-success btn-link nc-icon nc-simple-add"></button>
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  Dakota
                </td>
                <td class="text-center">
                  Rice
                </td>
                <td class="text-center">
                  05048697-4
                </td>
                <td class="text-center">
                  <button type="submit" class="btn btn-success btn-link nc-icon nc-simple-add"></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  </div>
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Registros</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th class="text-center">
                Nombres
              </th>
              <th class="text-center">
                Apellidos
              </th>
              <th class="text-center">
                DUI
              </th>
              <th class="text-center">
                Medicamento
              </th>
              <th class="text-center">
                Tipo
              </th>
              <th class="text-center">
                Dosis
              </th>
              <th class="text-center">
                Acción
              </th>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">
                  Dakota
                </td>
                <td class="text-center">
                  Rice
                </td>
                <td class="text-center">
                  05048697-4
                </td>
                <td  class="text-center">
                  Paracetamol
                </td>
                <td class="text-center">
                  Jarabe
                </td>
                <td  class="text-center">
                  Cada 8 horas
                </td>
                <td class="text-center">
                  <button type="submit" class="btn btn-success btn-link nc-icon nc-simple-add"></button>
                  <button type="submit" class="btn btn-primary btn-link nc-icon nc-ruler-pencil"></button>
                  <button type="submit" class="btn btn-danger btn-link nc-icon nc-simple-remove"></button>
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  Dakota
                </td>
                <td class="text-center">
                  Rice
                </td>
                <td class="text-center">
                  05048697-4
                </td>
                <td  class="text-center">
                  Paracetamol
                </td>
                <td class="text-center">
                  Jarabe
                </td>
                <td  class="text-center">
                  Cada 8 horas
                </td>
                <td class="text-center">
                  <button type="submit" class="btn btn-success btn-link nc-icon nc-simple-add"></button>
                  <button type="submit" class="btn btn-primary btn-link nc-icon nc-ruler-pencil"></button>
                  <button type="submit" class="btn btn-danger btn-link nc-icon nc-simple-remove"></button>
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  Dakota
                </td>
                <td class="text-center">
                  Rice
                </td>
                <td class="text-center">
                  05048697-4
                </td>
                <td  class="text-center">
                  Paracetamol
                </td>
                <td class="text-center">
                  Jarabe
                </td>
                <td  class="text-center">
                  Cada 8 horas
                </td>
                <td class="text-center">
                  <button type="submit" class="btn btn-success btn-link nc-icon nc-simple-add"></button>
                  <button type="submit" class="btn btn-primary btn-link nc-icon nc-ruler-pencil"></button>
                  <button type="submit" class="btn btn-danger btn-link nc-icon nc-simple-remove"></button>
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  Dakota
                </td>
                <td class="text-center">
                  Rice
                </td>
                <td class="text-center">
                  05048697-4
                </td>
                <td  class="text-center">
                  Paracetamol
                </td>
                <td class="text-center">
                  Jarabe
                </td>
                <td  class="text-center">
                  Cada 8 horas
                </td>
                <td class="text-center">
                  <button type="submit" class="btn btn-success btn-link nc-icon nc-simple-add"></button>
                  <button type="submit" class="btn btn-primary btn-link nc-icon nc-ruler-pencil"></button>
                  <button type="submit" class="btn btn-danger btn-link nc-icon nc-simple-remove"></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
