<div class="col-md-12">
  <div class="card card-user">
    <div class="card-header">
      <h5 class="card-title">Registro de visitas/citas</h5>
    </div>
    <div class="card-body">
      <form>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Nombre visitante </label>
              <input type="text" class="form-control" placeholder="Nombre" value="">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 pr-1">
            <div class="form-group">
              <label>DUI</label>
              <input type="text" class="form-control" placeholder="DUI" value="">
            </div>
          </div>
          <div class="col-md-4 px-1">
            <div class="form-group">
              <label>Fecha</label>
              <input type="date" class="form-control" placeholder="Fecha" value="">
            </div>
          </div>
          <div class="col-md-4 pl-1">
            <div class="form-group">
              <label>Huesped </label>
              <div ngbDropdown class="">
                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Seleccionar</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button ngbDropdownItem>Carmen</button>
                  <button ngbDropdownItem>Jose</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Notas</label>
              <textarea class="form-control textarea" placeholder=""></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="update ml-auto mr-auto">
            <button type="submit" class="btn btn-primary btn-round">Agregar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Visitas</h4>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class=" text-primary">
            <th class="text-center">
              Nombres
            </th>
            <th class="text-center">
              DUI
            </th>
            <th class="text-center">
              Fecha
            </th>
            <th class="text-center">
              Huésped
            </th>
            <th class="text-center">
              Notas
            </th>
            <th class="text-center">
              Acción
            </th>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">
                Karla Lopez
              </td>
              <td class="text-center">
                12/05/1955
              </td>
              <td class="text-center">
                05048697-4
              </td>
              <td class="text-center">
                Oscar Rivers
              </td>
              <td class="text-center">
                Se ingreso comida al huesped
              </td>
              <td class="text-center">
                <button type="submit" class="btn btn-primary btn-link nc-icon nc-ruler-pencil"></button>
                <button type="submit" class="btn btn-danger btn-link nc-icon nc-simple-remove"></button>
              </td>
            </tr>
            <tr>
              <td class="text-center">
                Karla Lopez
              </td>
              <td class="text-center">
                12/05/1955
              </td>
              <td class="text-center">
                05048697-4
              </td>
              <td class="text-center">
                Oscar Rivers
              </td>
              <td class="text-center">
                Se ingreso comida al huesped
              </td>
              <td class="text-center">
                <button type="submit" class="btn btn-primary btn-link nc-icon nc-ruler-pencil"></button>
                <button type="submit" class="btn btn-danger btn-link nc-icon nc-simple-remove"></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
